{% extends 'layout.html' %}

{% block pagetitle %}
<title>文穎數據分析系統-圖表分析</title>
{% endblock %}

{% block content %}
<div class="container">
    <div id="chart"  style="width:960px; height:540px;">

    </div>

    <div id="chart2"  style="width:960px; height:540px;">

    </div>

    <div id="chart3"  style="width:960px; height:540px;">

    </div>

</div>

{% endblock %}


{% block js %}
<script>
    var cur_chart = echarts.init(document.getElementById('chart'), 'white', {renderer: 'canvas'});
    var cur_chart2 = echarts.init(document.getElementById('chart2'), 'white', {renderer: 'canvas'});
    var cur_chart3 = echarts.init(document.getElementById('chart3'), 'white', {renderer: 'canvas'});

    $(
        function () {
            fetchChart();
            fetchChart2();
            fetchChart3();
        }
    );

    function fetchChart() {

        $.ajax({
            type: "GET",
            url: "/img/{{stock_id}}",
            dataType: 'json',
            success: function (result) {
                cur_chart.setOption(JSON.parse(result));
            }
        });
    }

    function fetchChart2() {

        $.ajax({
            type: "GET",
            url: "/holder/{{stock_id}}",
            dataType: 'json',
            success: function (result) {
                cur_chart2.setOption(JSON.parse(result));
            }
        });
    }

    function fetchChart3() {

        $.ajax({
            type: "GET",
            url: "/leaderholder/{{stock_id}}",
            dataType: 'json',
            success: function (result) {
                console.log(result)
                cur_chart3.setOption(JSON.parse(result));
            }
        });
    }

</script>
{% endblock %}