<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="chart" style="width:960px; height:540px;">

</div>
<script src="{{ url_for('static', path='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', path='plugins/bootstrap-3.4.1/js/bootstrap.min.js') }}"></script>
<!--<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>-->
<script type="text/javascript" src="{{ url_for('static', path='plugins/echarts/echarts.min.js') }}"></script>

<script>
    var cur_chart = echarts.init(document.getElementById('chart'), 'white', {renderer: 'canvas'});
    $(
        function () {
            fetchChart();
        }
    );

    function fetchChart() {
        $.ajax({
            type: "GET",
            url: "/cn/charts/{{stock_id}}",
            dataType: 'json',
            success: function (result) {
                console.log(JSON.parse(result))
                cur_chart.setOption(JSON.parse(result));
            }
        });

    }


</script>
</body>
</html>